* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: palevioletred;
    max-width: fit-content;
    height: 100vh;
    font-family: 'Courier New', Courier, monospace;
}

figure {
    padding: 12px;
}

li {
    list-style-type: none;
    padding: 5px;
}

input[type=image] {
    padding: 10px;
}